body {
 height: 100%;
 width: 100%;
}

.col {
  background: hwb(0 54% 46%)
}

h1 {
  font-weight: 800;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: underline; 
}

p {
  line-height: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 30px;
}

#map {
  height: 100%;
  width: 100%;
  padding: 20px; 
}

.popup {
    border-radius: 2px;
    color: #504e4e;
    font-family: 'Molengo', sans-serif;
    font-size: 12px;
    line-height: 10px;
    height: 10 px ;
    max-height: 300px;
  }


/* #legend {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border-radius: 2px;
  max-width: 300px;
  font-family: 'Open Sans', sans-serif;
}

#legend span {
  font-family: 'Montserrat', sans-serif;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 4px 0;
}

#legend label {
  font-size: 0.9rem;
  display: inline;
}

#legend label:after {
  font-family: 'Montserrat', sans-serif;
  content: '';
  display: block;
  clear: both;
} */

/* Legend specific
.legend {
  padding: 6px 9px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  line-height: 10px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 14px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 1px;
}

.legend i {
  width: 12px;
  height: 12px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 8px;
  background-color: rgba(255, 255, 255, 1);
} */


/* circle symbol for legend */

#circle {
  width: 100px;
  height: 100px;
  opacity: .5;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  transform: scale(0.1)

}

/* hexagonal symbol and pseudoclasses */
#hexagon {
  width: 100px;
  height: 57.735px;
  background: #FFEDA0;
  position: relative;
  transform: scale(0.3);
  outline: black
}
#hexagon::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid #FFEDA0;
}
#hexagon::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid #FFEDA0;

}
  
button-fly-nash {
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: hsl(256, 22%, 47%)
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  aside {
    height: 80vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

a {
  color: hwb(349 10% 63%);
}


svg {
  border: 1px solid #000;
}

.rectangle hover {
  opacity: .66;
};

dropdown-ui {
  font-family: 'Montserrat', sans-serif;
}

.lanes {
  color: 'yellow'
}